<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Failed</title>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Cairo:wght@500&display=swap');

    * {
      box-sizing: border-box;
      font-family: 'Cairo', sans-serif;
      margin: 0;
      padding: 0;
    }

    body {
      background-color: #18191a;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      text-align: center;
      color: #fff;
    }

    h2, p {
      margin-bottom: 20px;
    }

    a {
      color: #4FACFF;
      text-decoration: none;
    }

    .close-btn {
      background-color: #4FACFF;
      color: #fff;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      text-decoration: none;
    }

    .close-btn:hover {
      background-color: #0076ff;
    }
  </style>
</head>
<body>
  <div>
    <h2>حدث خطأ أثناء التوثيق</h2>
    <p>الرجاء العودة إلى السيرفر والمحاولة مرة أخرى.</p>
    <a href="javascript:window.open('', '_self', ''); window.close();" class="close-btn">إغلاق</a>
  </div>
</body>
</html>
